@model LavaCarProject.Models.sp_RetornaCliente_ID_Result
@{
    ViewBag.Title = "EliminarCliente";
}

<h2>Eliminar Cliente</h2>

<div class="form-group">
    <input type="button" value="Insertar" id="btninsertar" />
</div>