@model LavaCarProject.Models.RetornaUsuarioCorreoPwd_Result
@{
    ViewBag.Title = "Bienvenida";
}
@section Style
    {

    <link href="~/Content/Media/Style_Sheet_CarWash.css" rel="stylesheet" />
}

<div class="jumbotron" style="margin-top:100px">
    <h1>Bienvenido</h1>
    <div class="form-group">
        <label class="control-label col-sm-4" for="nombre_usuario">Nombre Completo: </label>
        <div class="control-label col-sm-4">
            @Html.DisplayFor(model => model.nombre_usuario);

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4" for="correo_usuario">Correo electronico </label>
        <div class="control-label col-sm-4">
            @Html.DisplayFor(model => model.correo_usuario);

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4" for="nombre_usuario">Fecha de ultimo Ingreso: </label>
        <div class="control-label col-sm-4">
            @Html.DisplayFor(model => model.FechaIngreso);

        </div>
    </div>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol id="olCarousel" class="carousel-indicators">
        <li data-target="myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="myCarousel" data-slide-to="1"></li>
        <li data-target="myCarousel" data-slide-to="2"></li>
        <li data-target="myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <span class="sprite professional_car_wash_1"></span>
        </div>
        <div class="item">
            <span class="sprite professional_car_wash_2"></span>
        </div>
        <div class="item">
            <span class="sprite professional_car_wash_3"></span>
        </div>
        <div class="item">
            <span class="sprite speed_car_wash"></span>
        </div>
        @*<div class="item">
            <span class="sprite vacuum_cleaner"></span>
        </div>*@
        @*<div class="item">
            <span class="sprite washer_machine"></span>
        </div>*@
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
</div>