@section Style
    {

    <link href="~/Content/Media/Style_Sheet_CarWash.css" rel="stylesheet" />
}
<h2>Galería multimedia:</h2>
<div id="divAcordion">
    <h4>Video de Muestra:</h4>
    <div>
        <h4>Audio de muestra:</h4>
        <audio controls="controls">
            <source src="~/Media_Data/trololo.mp3" type="audio/mpeg" />
        </audio>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <video controls="controls" >
            <source src="~/Media_Data/meguiars-endurance-tire-gel-abrillantador-para-neumaticos-de-primera-calidad.mp4" type="video/mp4" />
        </video>
    </div>
</div>


@section scripts{

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="~/Scripts/Kendo_JQ_UI/Media_js.js"></script>
}