@model LavaCarProject.ViewModels.Asignar_Vehiculos_ViewModel

<h2>Asignar Vehículo</h2>

<div id="divAsignarr">

    <form class="form" id="fmrAsignarVehic" method="POST">

        <div class="form-group">
            <label>Placa:</label>
            <input type="text" name="placa" id="placa" class="form-control" value="@Model.placa" disabled>
        </div>

        <div class="form-group">
            <label>Cliente:</label>
            <select name="id_cliente" id="id_cliente" class="form-control">
                <option value="">Favor seleccione un Cliente</option>
                @{
                    foreach (var cliente in Model.Clientes)
                    {
                        <option value="@cliente.id_cliente">@cliente.nombre_cliente @cliente.apellido1</option>
                    }
                }
            </select>

        </div>

        <div class="form-group">
            <input type="submit" value="Guardar" id="btninsertar" />
        </div>
        <div>
            <a href="~/Vehiculos/VehiculosLibres">Regresar</a>
        </div>
    </form>
</div>
