@model LavaCarProject.Models.sp_RetornaVehiculo_ID_Result
@{
    ViewBag.Title = "EliminaVehiculoxClienteID";
}

<h2>Eliminar Vehiculo por Cliente</h2>

<form class="form">
    <input class="form-group" />
    <div class="form-group">
        <label>Placa:</label>
        <input type="text" name="id_vehiculo" id="id_vehiculo" class="form-control" value="@Model.id_vehiculo" disabled>
    </div>
    <div class="form-group" role="button">
        <input class="btn btn-danger" type="submit" value="Eliminar" id="btninsertar" />
    </div>
    <div>
        <a class="btn btn-info" href="~/Vehiculos/RetornaVehiculoxcliente"> Regresar a Vehiculos</a>
    </div>
</form>

@section scripts{

    }