@section Style{
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.blueopal.min.css" rel="stylesheet" />
}

<h2>Lista de Marcas</h2>

<div id="divKendoMarcas">

</div>

<input type="button" id="btMostrarDialog" value="Insertar Nueva Marca" />

<div id="divInsertar" hidden>

    <h2>Inserta Fabricante</h2>

    <form class="form" id="fmrnuevoFabri" method="POST">

        <div class="form-group">
            <label>Nombre Marca:</label>
            <input type="text" name="nombremarca" id="nombremarca" class="form-control">
        </div>

        <div class="form-group">
            <label>Fabricante:</label>
            <select name="fabricante" id="fabricante" class="form-control"></select>
        </div>

        <div class="form-group">
            <input type="button" value="Insertar" id="btninsertar" />
        </div>
    </form>
</div>

@section scripts{
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jszip.min.js"></script>
    <script src="~/Scripts/Kendo_JQ_UI/Marcas.js"></script>
    <script src="~/Scripts/ScriptGenerico.js"></script>

}