USE [master]
GO
/****** Object:  Database [LavaCar]    Script Date: 27/8/2020 07:20:16 ******/
CREATE DATABASE [LavaCar]
 CONTAINMENT = NONE

EXEC [LavaCar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LavaCar]
GO
/****** Object:  Table [dbo].[caja_chica]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[caja_chica](
	[id_caja] [int] IDENTITY(1,1) NOT NULL,
	[hora_apertura] [datetime] NOT NULL,
	[hora_cierre] [datetime] NULL,
	[monto_apertura] [float] NOT NULL,
	[monto_cierre_total] [float] NULL,
	[id_usuario_apertura] [int] NOT NULL,
	[id_usuario_cierre] [int] NULL,
 CONSTRAINT [PK_caja_chica] PRIMARY KEY CLUSTERED 
(
	[id_caja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Canton]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canton](
	[id_Canton] [int] IDENTITY(1,1) NOT NULL,
	[id_Provincia] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[usuarioCrea] [varchar](50) NULL,
	[fechaCrea] [datetime] NULL,
	[usuarioModifica] [varchar](50) NULL,
	[fechaModifica] [datetime] NULL,
	[vc_Estado] [varchar](3) NULL,
	[id_CantonInec] [int] NOT NULL,
 CONSTRAINT [PK_Canton] PRIMARY KEY CLUSTERED 
(
	[id_Canton] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre_cliente] [nchar](100) NOT NULL,
	[apellido1] [nchar](100) NOT NULL,
	[apellido2] [nchar](100) NULL,
	[cedula] [int] NOT NULL,
	[id_provincia] [int] NOT NULL,
	[id_canton] [int] NOT NULL,
	[id_distrito] [int] NOT NULL,
	[direccion] [nvarchar](100) NOT NULL,
	[telefono] [int] NULL,
	[email] [nchar](30) NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distrito](
	[id_Distrito] [int] IDENTITY(1,1) NOT NULL,
	[id_Canton] [int] NULL,
	[nombre] [varchar](100) NOT NULL,
	[usuarioCrea] [varchar](50) NULL,
	[fechaCrea] [datetime] NULL,
	[usuarioModifica] [varchar](50) NULL,
	[fechaModifica] [datetime] NULL,
	[vc_Estado] [varchar](3) NULL,
	[id_DistritoInec] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fabricante]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fabricante](
	[id_fabricante] [int] IDENTITY(1,1) NOT NULL,
	[nombre_fabricante] [nvarchar](100) NOT NULL,
	[pais] [int] NULL,
 CONSTRAINT [PK_fabricante] PRIMARY KEY CLUSTERED 
(
	[id_fabricante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factura_detalle]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura_detalle](
	[id_detalle_factura] [int] IDENTITY(1,1) NOT NULL,
	[id_factura_encabezado] [int] NOT NULL,
	[id_servicio] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_servicio] [float] NOT NULL,
 CONSTRAINT [PK_factura_detalle] PRIMARY KEY CLUSTERED 
(
	[id_detalle_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factura_encabezado]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura_encabezado](
	[id_factura] [int] IDENTITY(1,1) NOT NULL,
	[fecha_factura] [datetime] NOT NULL,
	[id_cliente_factura] [int] NOT NULL,
	[vehiculo_id] [int] NOT NULL,
	[total_pagar] [float] NULL,
	[total_sin_iv] [float] NULL,
	[estado_factura] [bit] NOT NULL,
 CONSTRAINT [PK_factura_encabezado] PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marca_vehiculo]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marca_vehiculo](
	[id_marca] [int] IDENTITY(1,1) NOT NULL,
	[nombre_marca] [nchar](55) NOT NULL,
	[id_fabricante] [int] NULL,
 CONSTRAINT [PK_marca_vehículo] PRIMARY KEY CLUSTERED 
(
	[id_marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modelo_vehiculo]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modelo_vehiculo](
	[id_modelo] [int] IDENTITY(1,1) NOT NULL,
	[nombre_modelo] [nvarchar](50) NOT NULL,
	[id_marca_modelo] [int] NOT NULL,
 CONSTRAINT [PK_modelo_vehículo] PRIMARY KEY CLUSTERED 
(
	[id_modelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[id_pais] [int] IDENTITY(1,1) NOT NULL,
	[nombre_pais] [nchar](100) NOT NULL,
 CONSTRAINT [PK_País] PRIMARY KEY CLUSTERED 
(
	[id_pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parametros]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parametros](
	[id_parametro] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[correo_apertura] [nvarchar](50) NOT NULL,
	[correo_cierre] [nvarchar](50) NOT NULL,
	[monto_minimo] [float] NOT NULL,
 CONSTRAINT [PK_Parametros] PRIMARY KEY CLUSTERED 
(
	[id_parametro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[id_Provincia] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[usuarioCrea] [varchar](50) NULL,
	[fechaCrea] [datetime] NULL,
	[usuarioModifica] [varchar](50) NULL,
	[fechaModifica] [datetime] NULL,
	[vc_Estado] [varchar](3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_servicio]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_servicio](
	[id_servicio] [int] IDENTITY(1,1) NOT NULL,
	[nombre_servicio] [nchar](50) NOT NULL,
	[precio_servicio] [float] NULL,
 CONSTRAINT [PK_tipo_servicio] PRIMARY KEY CLUSTERED 
(
	[id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_vehiculo]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_vehiculo](
	[id_tipo_vehiculo] [int] IDENTITY(1,1) NOT NULL,
	[nombre_vehiculo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tipo_vehículo] PRIMARY KEY CLUSTERED 
(
	[id_tipo_vehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[tipo_usuario] [nvarchar](10) NOT NULL,
	[nombre_usuario] [nvarchar](50) NOT NULL,
	[contraseña] [nvarchar](50) NOT NULL,
	[correo_usuario] [nvarchar](50) NOT NULL,
	[FechaIngreso] [date] NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehiculos]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehiculos](
	[id_vehiculo] [int] IDENTITY(1,1) NOT NULL,
	[placa] [int] NOT NULL,
	[id_marca] [int] NOT NULL,
	[id_tipo_vehiculo] [int] NOT NULL,
	[id_modelo_vehiculo] [int] NOT NULL,
	[cantidad_puertas] [smallint] NOT NULL,
	[cantidad_ruedas] [smallint] NOT NULL,
	[año_fabricacion] [date] NOT NULL,
	[id_fabricante_vehiculo] [int] NOT NULL,
 CONSTRAINT [PK_vehículos] PRIMARY KEY CLUSTERED 
(
	[id_vehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehiculos_x_cliente]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehiculos_x_cliente](
	[id_vehiculo_cliente] [int] IDENTITY(1,1) NOT NULL,
	[id_vehiculo] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
 CONSTRAINT [PK_vehículos_x_cliente] PRIMARY KEY CLUSTERED 
(
	[id_vehiculo_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[caja_chica] ON 

INSERT [dbo].[caja_chica] ([id_caja], [hora_apertura], [hora_cierre], [monto_apertura], [monto_cierre_total], [id_usuario_apertura], [id_usuario_cierre]) VALUES (1, CAST(N'2020-08-25T22:13:53.857' AS DateTime), NULL, 100, 0, 1, 2)
INSERT [dbo].[caja_chica] ([id_caja], [hora_apertura], [hora_cierre], [monto_apertura], [monto_cierre_total], [id_usuario_apertura], [id_usuario_cierre]) VALUES (2, CAST(N'2020-08-27T03:35:50.997' AS DateTime), NULL, 5000, NULL, 2, NULL)
SET IDENTITY_INSERT [dbo].[caja_chica] OFF
GO
SET IDENTITY_INSERT [dbo].[Canton] ON 

INSERT [dbo].[Canton] ([id_Canton], [id_Provincia], [nombre], [usuarioCrea], [fechaCrea], [usuarioModifica], [fechaModifica], [vc_Estado], [id_CantonInec]) VALUES (1, 1, N'SAN JOSE', N'sa', CAST(N'2014-06-17T11:38:27.320' AS DateTime), N'sa', CAST(N'2014-06-17T11:38:27.320' AS DateTime), N'A', 101)
INSERT [dbo].[Canton] ([id_Canton], [id_Provincia], [nombre], [usuarioCrea], [fechaCrea], [usuarioModifica], [fechaModifica], [vc_Estado], [id_CantonInec]) VALUES (2, 1, N'ESCAZU', N'sa', CAST(N'2014-06-17T11:38:27.320' AS DateTime), N'sa', CAST(N'2014-06-17T11:38:27.320' AS DateTime), N'A', 102)
INSERT [dbo].[Canton] ([id_Canton], [id_Provincia], [nombre], [usuarioCrea], [fechaCrea], [usuarioModifica], [fechaModifica], [vc_Estado], [id_CantonInec]) VALUES (3, 1, N'DESAMPARADOS', N'sa', CAST(N'2014-06-17T11:38:27.320' AS DateTime), N'sa', CAST(N'2014-06-17T11:38:27.320' AS DateTime), N'A', 103)
SET IDENTITY_INSERT [dbo].[Canton] OFF
GO
SET IDENTITY_INSERT [dbo].[cliente] ON 

INSERT [dbo].[cliente] ([id_cliente], [nombre_cliente], [apellido1], [apellido2], [cedula], [id_provincia], [id_canton], [id_distrito], [direccion], [telefono], [email]) VALUES (2, N'Andre                                                                                               ', N'Chinchilla                                                                                          ', N'González                                                                                            ', 114150926, 1, 3, 15, N'San Jose', 22222222, N'andre@andre.com               ')
INSERT [dbo].[cliente] ([id_cliente], [nombre_cliente], [apellido1], [apellido2], [cedula], [id_provincia], [id_canton], [id_distrito], [direccion], [telefono], [email]) VALUES (3, N'Armando                                                                                             ', N'Ramirez                                                                                             ', N'Echenique                                                                                           ', 123456, 2, 21, 120, N'San José', 88888888, N'armando@armando.com           ')
INSERT [dbo].[cliente] ([id_cliente], [nombre_cliente], [apellido1], [apellido2], [cedula], [id_provincia], [id_canton], [id_distrito], [direccion], [telefono], [email]) VALUES (4, N'Marco                                                                                               ', N'Maquiño                                                                                             ', N'Marquez                                                                                             ', 564546, 1, 1, 1, N'El pueblo', 789456, N'marco@marco.com               ')
SET IDENTITY_INSERT [dbo].[cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Distrito] ON 

INSERT [dbo].[Distrito] ([id_Distrito], [id_Canton], [nombre], [usuarioCrea], [fechaCrea], [usuarioModifica], [fechaModifica], [vc_Estado], [id_DistritoInec]) VALUES (1, 1, N'EL CARMEN', N'sa', CAST(N'2014-06-17T11:39:58.377' AS DateTime), N'sa', CAST(N'2014-06-17T11:39:58.377' AS DateTime), N'A', 10101)
INSERT [dbo].[Distrito] ([id_Distrito], [id_Canton], [nombre], [usuarioCrea], [fechaCrea], [usuarioModifica], [fechaModifica], [vc_Estado], [id_DistritoInec]) VALUES (2, 1, N'MERCED', N'sa', CAST(N'2014-06-17T11:39:58.377' AS DateTime), N'sa', CAST(N'2014-06-17T11:39:58.377' AS DateTime), N'A', 10102)
INSERT [dbo].[Distrito] ([id_Distrito], [id_Canton], [nombre], [usuarioCrea], [fechaCrea], [usuarioModifica], [fechaModifica], [vc_Estado], [id_DistritoInec]) VALUES (3, 1, N'HOSPITAL', N'sa', CAST(N'2014-06-17T11:39:58.377' AS DateTime), N'sa', CAST(N'2014-06-17T11:39:58.377' AS DateTime), N'A', 10103)
GO
SET IDENTITY_INSERT [dbo].[Distrito] OFF
GO
SET IDENTITY_INSERT [dbo].[fabricante] ON 

INSERT [dbo].[fabricante] ([id_fabricante], [nombre_fabricante], [pais]) VALUES (1, N'Toyota Motor Corporation', 114)
INSERT [dbo].[fabricante] ([id_fabricante], [nombre_fabricante], [pais]) VALUES (2, N'Volkswagen Group', 4)
INSERT [dbo].[fabricante] ([id_fabricante], [nombre_fabricante], [pais]) VALUES (3, N'General Motors Corporation', 75)
SET IDENTITY_INSERT [dbo].[fabricante] OFF
GO
SET IDENTITY_INSERT [dbo].[marca_vehiculo] ON 

INSERT [dbo].[marca_vehiculo] ([id_marca], [nombre_marca], [id_fabricante]) VALUES (1, N'D                                                      ', 2)
INSERT [dbo].[marca_vehiculo] ([id_marca], [nombre_marca], [id_fabricante]) VALUES (2, N'Hino                                                   ', 1)
INSERT [dbo].[marca_vehiculo] ([id_marca], [nombre_marca], [id_fabricante]) VALUES (3, N'Lexus                                                  ', 1)
SET IDENTITY_INSERT [dbo].[marca_vehiculo] OFF
GO
SET IDENTITY_INSERT [dbo].[modelo_vehiculo] ON 

INSERT [dbo].[modelo_vehiculo] ([id_modelo], [nombre_modelo], [id_marca_modelo]) VALUES (1, N'CL                       ', 40)
INSERT [dbo].[modelo_vehiculo] ([id_modelo], [nombre_modelo], [id_marca_modelo]) VALUES (2, N'EL                       ', 40)
INSERT [dbo].[modelo_vehiculo] ([id_modelo], [nombre_modelo], [id_marca_modelo]) VALUES (3, N'ILX                      ', 40)
GO
SET IDENTITY_INSERT [dbo].[modelo_vehiculo] OFF
GO
SET IDENTITY_INSERT [dbo].[Pais] ON 

INSERT [dbo].[Pais] ([id_pais], [nombre_pais]) VALUES (1, N'Afganist                                                                                            ')
INSERT [dbo].[Pais] ([id_pais], [nombre_pais]) VALUES (2, N'Islas Gland                                                                                         ')
INSERT [dbo].[Pais] ([id_pais], [nombre_pais]) VALUES (3, N'Albania                                                                                             ')
GO
SET IDENTITY_INSERT [dbo].[Pais] OFF
GO
SET IDENTITY_INSERT [dbo].[Parametros] ON 

INSERT [dbo].[Parametros] ([id_parametro], [nombre], [correo_apertura], [correo_cierre], [monto_minimo]) VALUES (1, N'Armando', N'and.re@hotmail.com', N'and.re@hotmail.com', 3)
SET IDENTITY_INSERT [dbo].[Parametros] OFF
GO
SET IDENTITY_INSERT [dbo].[Provincia] ON 

INSERT [dbo].[Provincia] ([id_Provincia], [nombre], [usuarioCrea], [fechaCrea], [usuarioModifica], [fechaModifica], [vc_Estado]) VALUES (1, N'SAN JOSE', N'sa', CAST(N'2014-05-23T14:35:40.990' AS DateTime), N'sa', CAST(N'2014-05-23T14:35:40.990' AS DateTime), N'A')
INSERT [dbo].[Provincia] ([id_Provincia], [nombre], [usuarioCrea], [fechaCrea], [usuarioModifica], [fechaModifica], [vc_Estado]) VALUES (2, N'ALAJUELA', N'sa', CAST(N'2014-05-23T14:35:44.320' AS DateTime), N'sa', CAST(N'2014-05-23T14:35:44.320' AS DateTime), N'A')
INSERT [dbo].[Provincia] ([id_Provincia], [nombre], [usuarioCrea], [fechaCrea], [usuarioModifica], [fechaModifica], [vc_Estado]) VALUES (3, N'CARTAGO', N'sa', CAST(N'2014-05-23T14:35:46.380' AS DateTime), N'sa', CAST(N'2014-05-23T14:35:46.380' AS DateTime), N'A')
SET IDENTITY_INSERT [dbo].[Provincia] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_servicio] ON 

INSERT [dbo].[tipo_servicio] ([id_servicio], [nombre_servicio], [precio_servicio]) VALUES (1, N'Lavado                                            ', 10500)
SET IDENTITY_INSERT [dbo].[tipo_servicio] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_vehiculo] ON 

INSERT [dbo].[tipo_vehiculo] ([id_tipo_vehiculo], [nombre_vehiculo]) VALUES (1, N'Motocicleta                                       ')
INSERT [dbo].[tipo_vehiculo] ([id_tipo_vehiculo], [nombre_vehiculo]) VALUES (2, N'Automóvil                                         ')
INSERT [dbo].[tipo_vehiculo] ([id_tipo_vehiculo], [nombre_vehiculo]) VALUES (3, N'4x4                                               ')
SET IDENTITY_INSERT [dbo].[tipo_vehiculo] OFF
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id_usuario], [tipo_usuario], [nombre_usuario], [contraseña], [correo_usuario], [FechaIngreso]) VALUES (1, N'admin', N'André Chinchilla                                  ', N'1234      ', N'andre@andre.com                                   ', NULL)
INSERT [dbo].[usuario] ([id_usuario], [tipo_usuario], [nombre_usuario], [contraseña], [correo_usuario], [FechaIngreso]) VALUES (2, N'Admin', N'Admin', N'1234', N'admin@admin', CAST(N'2020-08-27' AS Date))
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[vehiculos] ON 

INSERT [dbo].[vehiculos] ([id_vehiculo], [placa], [id_marca], [id_tipo_vehiculo], [id_modelo_vehiculo], [cantidad_puertas], [cantidad_ruedas], [año_fabricacion], [id_fabricante_vehiculo]) VALUES (1, 730656, 75, 2, 907, 4, 4, CAST(N'2008-01-01' AS Date), 21)
INSERT [dbo].[vehiculos] ([id_vehiculo], [placa], [id_marca], [id_tipo_vehiculo], [id_modelo_vehiculo], [cantidad_puertas], [cantidad_ruedas], [año_fabricacion], [id_fabricante_vehiculo]) VALUES (2, 12341234, 43, 1, 817, 2, 4, CAST(N'2020-08-17' AS Date), 9)
INSERT [dbo].[vehiculos] ([id_vehiculo], [placa], [id_marca], [id_tipo_vehiculo], [id_modelo_vehiculo], [cantidad_puertas], [cantidad_ruedas], [año_fabricacion], [id_fabricante_vehiculo]) VALUES (1002, 12355, 27, 2, 647, 2, 4, CAST(N'2020-08-22' AS Date), 6)
SET IDENTITY_INSERT [dbo].[vehiculos] OFF
GO
SET IDENTITY_INSERT [dbo].[vehiculos_x_cliente] ON 

INSERT [dbo].[vehiculos_x_cliente] ([id_vehiculo_cliente], [id_vehiculo], [id_cliente]) VALUES (2, 1, 2)
SET IDENTITY_INSERT [dbo].[vehiculos_x_cliente] OFF
GO
/****** Object:  Index [id_Distrito_pk]    Script Date: 27/8/2020 07:20:17 ******/
ALTER TABLE [dbo].[Distrito] ADD  CONSTRAINT [id_Distrito_pk] PRIMARY KEY NONCLUSTERED 
(
	[id_Distrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [id_Provincia_pk]    Script Date: 27/8/2020 07:20:17 ******/
ALTER TABLE [dbo].[Provincia] ADD  CONSTRAINT [id_Provincia_pk] PRIMARY KEY NONCLUSTERED 
(
	[id_Provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Canton] ADD  CONSTRAINT [DF__Canton__usuarioC__1B29CEB6]  DEFAULT (suser_name()) FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Canton] ADD  CONSTRAINT [DF__Canton__fechaCre__1C1DF2EF]  DEFAULT (getdate()) FOR [fechaCrea]
GO
ALTER TABLE [dbo].[Canton] ADD  CONSTRAINT [DF__Canton__usuarioM__1D121728]  DEFAULT (suser_name()) FOR [usuarioModifica]
GO
ALTER TABLE [dbo].[Canton] ADD  CONSTRAINT [DF__Canton__fechaMod__1E063B61]  DEFAULT (getdate()) FOR [fechaModifica]
GO
ALTER TABLE [dbo].[Canton] ADD  CONSTRAINT [DF__Canton__vc_Estad__1EFA5F9A]  DEFAULT ('A') FOR [vc_Estado]
GO
ALTER TABLE [dbo].[Distrito] ADD  CONSTRAINT [DF__Distrito__usuari__2B60367F]  DEFAULT (suser_name()) FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Distrito] ADD  CONSTRAINT [DF__Distrito__fechaC__2C545AB8]  DEFAULT (getdate()) FOR [fechaCrea]
GO
ALTER TABLE [dbo].[Distrito] ADD  CONSTRAINT [DF__Distrito__usuari__2D487EF1]  DEFAULT (suser_name()) FOR [usuarioModifica]
GO
ALTER TABLE [dbo].[Distrito] ADD  CONSTRAINT [DF__Distrito__fechaM__2E3CA32A]  DEFAULT (getdate()) FOR [fechaModifica]
GO
ALTER TABLE [dbo].[Distrito] ADD  CONSTRAINT [DF__Distrito__vc_Est__2F30C763]  DEFAULT ('A') FOR [vc_Estado]
GO
ALTER TABLE [dbo].[Provincia] ADD  CONSTRAINT [DF__Provincia__usuar__1388ACEE]  DEFAULT (suser_name()) FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Provincia] ADD  CONSTRAINT [DF__Provincia__fecha__147CD127]  DEFAULT (getdate()) FOR [fechaCrea]
GO
ALTER TABLE [dbo].[Provincia] ADD  CONSTRAINT [DF__Provincia__usuar__1570F560]  DEFAULT (suser_name()) FOR [usuarioModifica]
GO
ALTER TABLE [dbo].[Provincia] ADD  CONSTRAINT [DF__Provincia__fecha__16651999]  DEFAULT (getdate()) FOR [fechaModifica]
GO
ALTER TABLE [dbo].[Provincia] ADD  CONSTRAINT [DF__Provincia__vc_Es__17593DD2]  DEFAULT ('A') FOR [vc_Estado]
GO
ALTER TABLE [dbo].[caja_chica]  WITH CHECK ADD  CONSTRAINT [FK_caja_chica_usuario1] FOREIGN KEY([id_usuario_apertura])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[caja_chica] CHECK CONSTRAINT [FK_caja_chica_usuario1]
GO
ALTER TABLE [dbo].[caja_chica]  WITH CHECK ADD  CONSTRAINT [FK_caja_chica_usuario2] FOREIGN KEY([id_usuario_cierre])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[caja_chica] CHECK CONSTRAINT [FK_caja_chica_usuario2]
GO
ALTER TABLE [dbo].[Canton]  WITH CHECK ADD  CONSTRAINT [Canton_ref_Provincia] FOREIGN KEY([id_Provincia])
REFERENCES [dbo].[Provincia] ([id_Provincia])
GO
ALTER TABLE [dbo].[Canton] CHECK CONSTRAINT [Canton_ref_Provincia]
GO
ALTER TABLE [dbo].[cliente]  WITH CHECK ADD  CONSTRAINT [FK_cliente_Provincia] FOREIGN KEY([id_provincia])
REFERENCES [dbo].[Provincia] ([id_Provincia])
GO
ALTER TABLE [dbo].[cliente] CHECK CONSTRAINT [FK_cliente_Provincia]
GO
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD  CONSTRAINT [Distrito_ref_Canton] FOREIGN KEY([id_Canton])
REFERENCES [dbo].[Canton] ([id_Canton])
GO
ALTER TABLE [dbo].[Distrito] CHECK CONSTRAINT [Distrito_ref_Canton]
GO
ALTER TABLE [dbo].[fabricante]  WITH CHECK ADD  CONSTRAINT [FK_fabricante_País] FOREIGN KEY([pais])
REFERENCES [dbo].[Pais] ([id_pais])
GO
ALTER TABLE [dbo].[fabricante] CHECK CONSTRAINT [FK_fabricante_País]
GO
ALTER TABLE [dbo].[factura_detalle]  WITH CHECK ADD  CONSTRAINT [FK_factura_detalle_factura_encabezado] FOREIGN KEY([id_factura_encabezado])
REFERENCES [dbo].[factura_encabezado] ([id_factura])
GO
ALTER TABLE [dbo].[factura_detalle] CHECK CONSTRAINT [FK_factura_detalle_factura_encabezado]
GO
ALTER TABLE [dbo].[factura_detalle]  WITH CHECK ADD  CONSTRAINT [FK_factura_detalle_tipo_servicio] FOREIGN KEY([id_servicio])
REFERENCES [dbo].[tipo_servicio] ([id_servicio])
GO
ALTER TABLE [dbo].[factura_detalle] CHECK CONSTRAINT [FK_factura_detalle_tipo_servicio]
GO
ALTER TABLE [dbo].[factura_encabezado]  WITH CHECK ADD  CONSTRAINT [FK_factura_encabezado_cliente] FOREIGN KEY([id_cliente_factura])
REFERENCES [dbo].[cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[factura_encabezado] CHECK CONSTRAINT [FK_factura_encabezado_cliente]
GO
ALTER TABLE [dbo].[factura_encabezado]  WITH CHECK ADD  CONSTRAINT [FK_factura_encabezado_vehiculos] FOREIGN KEY([vehiculo_id])
REFERENCES [dbo].[vehiculos] ([id_vehiculo])
GO
ALTER TABLE [dbo].[factura_encabezado] CHECK CONSTRAINT [FK_factura_encabezado_vehiculos]
GO
ALTER TABLE [dbo].[marca_vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_marca_vehiculo_fabricante] FOREIGN KEY([id_fabricante])
REFERENCES [dbo].[fabricante] ([id_fabricante])
GO
ALTER TABLE [dbo].[marca_vehiculo] CHECK CONSTRAINT [FK_marca_vehiculo_fabricante]
GO
ALTER TABLE [dbo].[modelo_vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_modelo_vehículo_marca_vehículo] FOREIGN KEY([id_marca_modelo])
REFERENCES [dbo].[marca_vehiculo] ([id_marca])
GO
ALTER TABLE [dbo].[modelo_vehiculo] CHECK CONSTRAINT [FK_modelo_vehículo_marca_vehículo]
GO
ALTER TABLE [dbo].[vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_vehiculos_fabricante] FOREIGN KEY([id_fabricante_vehiculo])
REFERENCES [dbo].[fabricante] ([id_fabricante])
GO
ALTER TABLE [dbo].[vehiculos] CHECK CONSTRAINT [FK_vehiculos_fabricante]
GO
ALTER TABLE [dbo].[vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_vehiculos_tipo_vehiculo] FOREIGN KEY([id_tipo_vehiculo])
REFERENCES [dbo].[tipo_vehiculo] ([id_tipo_vehiculo])
GO
ALTER TABLE [dbo].[vehiculos] CHECK CONSTRAINT [FK_vehiculos_tipo_vehiculo]
GO
ALTER TABLE [dbo].[vehiculos_x_cliente]  WITH CHECK ADD  CONSTRAINT [FK_vehículos_x_cliente_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[vehiculos_x_cliente] CHECK CONSTRAINT [FK_vehículos_x_cliente_cliente]
GO
ALTER TABLE [dbo].[vehiculos_x_cliente]  WITH CHECK ADD  CONSTRAINT [FK_vehículos_x_cliente_vehículos] FOREIGN KEY([id_vehiculo])
REFERENCES [dbo].[vehiculos] ([id_vehiculo])
GO
ALTER TABLE [dbo].[vehiculos_x_cliente] CHECK CONSTRAINT [FK_vehículos_x_cliente_vehículos]
GO
ALTER TABLE [dbo].[Canton]  WITH NOCHECK ADD  CONSTRAINT [Canton_Estado_CkC] CHECK  (([vc_Estado] IS NULL OR ([vc_Estado]='I' OR [vc_Estado]='A')))
GO
ALTER TABLE [dbo].[Canton] NOCHECK CONSTRAINT [Canton_Estado_CkC]
GO
ALTER TABLE [dbo].[Canton]  WITH NOCHECK ADD  CONSTRAINT [CKC_VC_ESTADO_CANTON] CHECK  (([vc_Estado] IS NULL OR ([vc_Estado]='I' OR [vc_Estado]='A')))
GO
ALTER TABLE [dbo].[Canton] NOCHECK CONSTRAINT [CKC_VC_ESTADO_CANTON]
GO
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD  CONSTRAINT [CKC_VC_ESTADO_DISTRITO] CHECK  (([vc_Estado] IS NULL OR ([vc_Estado]='I' OR [vc_Estado]='A')))
GO
ALTER TABLE [dbo].[Distrito] CHECK CONSTRAINT [CKC_VC_ESTADO_DISTRITO]
GO
ALTER TABLE [dbo].[Provincia]  WITH CHECK ADD  CONSTRAINT [CKC_VC_ESTADO_PROVINCI] CHECK  (([vc_Estado] IS NULL OR ([vc_Estado]='I' OR [vc_Estado]='A')))
GO
ALTER TABLE [dbo].[Provincia] CHECK CONSTRAINT [CKC_VC_ESTADO_PROVINCI]
GO
/****** Object:  StoredProcedure [dbo].[InsertaNuevoModelo]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Inserta nuevo Modelo>
-- =============================================
CREATE PROCEDURE [dbo].[InsertaNuevoModelo]
 @nombre_modelo nchar,
 @id_marca_modelo int
AS
BEGIN
Insert into modelo_vehiculo
values (@nombre_modelo, @id_marca_modelo)
END
GO
/****** Object:  StoredProcedure [dbo].[Retorna_Cierres_Caja]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Description:	<retorna cieres de caja>
-- =============================================
CREATE PROCEDURE [dbo].[Retorna_Cierres_Caja]


AS
BEGIN
 SELECT 
	 id_caja,
	 hora_apertura, 
	 hora_cierre, 
	 monto_apertura,
	 monto_cierre_total,
	 id_usuario_apertura,
	 id_usuario_cierre
 FROM caja_chica

END
GO
/****** Object:  StoredProcedure [dbo].[RetornaCantones]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Cristopher Castillo>
-- Create date: <Abril 2018>
-- Description:	<Retorna los registros de la tabla de Cantones tomando en cuenta la columna nombre y id_Provincia>
-- =============================================
CREATE PROCEDURE [dbo].[RetornaCantones]
@nombre [varchar](50)= NULL,
@id_Provincia int= NULL
AS
	
SELECT  tCant.id_Canton,tCant.id_Provincia, tCant.nombre,tProv.nombre 'Provincia', tCant.usuarioCrea, tCant.fechaCrea, tCant.usuarioModifica, tCant.fechaModifica, tCant.vc_Estado,tCant.id_CantonInec
FROM Canton tCant inner join Provincia tProv on tCant.id_Provincia=tProv.id_Provincia
WHERE tCant.[id_Provincia] = (case when @id_Provincia is null then tCant.id_Provincia else @id_Provincia end)
and tCant.[nombre] like (case when @nombre is null then '%%' else '%'+@nombre+'%' end)

GO
/****** Object:  StoredProcedure [dbo].[RetornaUsuario]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RetornaUsuario]
@correoElectronico [varchar](50),
@nombreCompleto [varchar](50),
@id_Usuario int
AS
 
SELECT [id_Usuario],[nombre_usuario],[correo_usuario],[contraseña],[FechaIngreso]
FROM [usuario]
WHERE  [nombre_usuario] like (case when @nombreCompleto is null then '%%' else '%'+@nombreCompleto+'%' end)
and [correo_usuario] like (case when @correoElectronico is null then '%%' else '%'+@correoElectronico+'%' end)
and [id_Usuario] = (case when @id_Usuario is null then [id_Usuario] else @id_Usuario end)
GO
/****** Object:  StoredProcedure [dbo].[RetornaUsuarioCorreoPwd]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RetornaUsuarioCorreoPwd]
@correoElectronico [varchar](50),
@contrasena [varchar](100)
AS
 
SELECT [id_Usuario],[nombre_usuario],[correo_usuario],[contraseña],[FechaIngreso]
FROM [usuario]
WHERE [contraseña]=@contrasena and [correo_usuario]=@correoElectronico

GO
/****** Object:  StoredProcedure [dbo].[RetornaUsuarioID]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RetornaUsuarioID]
@id_Usuario int
AS
 
SELECT [id_Usuario],[nombre_usuario],[correo_usuario],[contraseña],[FechaIngreso]
FROM [usuario]
WHERE [id_Usuario]=@id_Usuario

GO
/****** Object:  StoredProcedure [dbo].[sp_AnularFactura]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_AnularFactura]
@id_Factura int

AS
BEGIN
 UPDATE factura_encabezado
 SET estado_factura =0
 WHERE id_Factura = @id_Factura
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AperturaCaja]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description:	<Apertura de caja>
-- =============================================
CREATE PROCEDURE [dbo].[sp_AperturaCaja]
	
	@monto_apertura float,
	@id_usuarioapertura int


AS
BEGIN
					INSERT INTO
					caja_chica
					VALUES (GETDATE(),
					NULL,
					@monto_apertura,
					0,
					@id_usuarioapertura,
					NULL)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Cierra_Caja]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Cierra una caja>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Cierra_Caja]
AS
BEGIN
	
	select MAX(hora_cierre)
	from caja_chica
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Cierre_Caja]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description:	<Cierre de caja>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Cierre_Caja]
	

	@id_usuariocierre int


AS
BEGIN
UPDATE caja_chica 	
SET hora_cierre= GETDATE(),
monto_cierre_total = (SELECT SUM(total_pagar) FROM factura_encabezado
WHERE  CAST( fecha_factura as Date) = CAST( GETDATE() as Date)) ,
id_usuario_cierre = @id_usuariocierre

WHERE id_caja = (select MAX(id_caja) from caja_chica) 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_cierre_cajas]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Reporte de cajas cierre>
-- =============================================
CREATE PROCEDURE [dbo].[sp_cierre_cajas]

AS
BEGIN
	SELECT
	CC.id_caja,
	CC.hora_apertura,
	CC.hora_cierre,
	CC.monto_apertura,
	CC.monto_cierre_total,
	CC.id_usuario_apertura,
	CC.id_usuario_cierre,
	USU.nombre_usuario AS nombre_usuario_apertura,
	USU2.nombre_usuario AS nobre_usuario_cierre
	FROM caja_chica AS CC
	INNER JOIN usuario AS USU ON CC.id_usuario_apertura = USU.id_usuario
	INNER JOIN usuario AS USU2 ON CC.id_usuario_cierre = USU2.id_usuario

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Elimina_Fabricante]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Elimna Fabricante>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Elimina_Fabricante]

@id_fabricante int

AS
BEGIN
	DELETE 
	FROM fabricante
	WHERE id_fabricante = @id_fabricante
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Elimina_Modelo]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Elimina Modelo>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Elimina_Modelo]

@id_modelo int

AS
BEGIN
	delete 
	from modelo_vehiculo
	where id_modelo = @id_modelo
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Elimina_TipoVehiculo]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Inserta tipo de Vehículo>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Elimina_TipoVehiculo]
	-- Add the parameters for the stored procedure here
	@id_tipo_vehiculo int

AS
BEGIN
	DELETE tipo_vehiculo
	WHERE id_tipo_vehiculo = @id_tipo_vehiculo
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Elimina_Vehiculos_x_Cliente]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description:	<Inserta Vehículos por cliente>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Elimina_Vehiculos_x_Cliente]
	-- Add the parameters for the stored procedure here

	@id_vehiculo_cliente int
AS
BEGIN
	
	DELETE vehiculos_x_cliente
	WHERE id_vehiculo_cliente = @id_vehiculo_cliente
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminaCanton]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Cristopher Castillo>
-- Create date: <Abril 2018>
-- Description:	<Elimina un registro en la tabla de cantones>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminaCanton]
	-- Add the parameters for the stored procedure here
		  @id_Canton int
AS
BEGIN
	DELETE FROM Canton
	WHERE [id_Canton]=@id_Canton
END

GO
/****** Object:  StoredProcedure [dbo].[sp_EliminaCliente]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Elimina Cliente>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminaCliente]
	-- Add the parameters for the stored procedure here
	@id_cliente int
AS
BEGIN
	DELETE cliente
	WHERE id_cliente = @id_cliente
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminaMarca]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Moficia Marca>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminaMarca]
@id_modelo int

AS
BEGIN
	
	DELETE FROM modelo_vehiculo
	WHERE id_modelo = @id_modelo
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminaPais]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Elimina un pais la lista>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminaPais]
@id_pais INT

AS
BEGIN

	DELETE Pais WHERE
	id_pais = @id_pais

END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarVehiculo]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Author:		<Armando Ramirez>
-- Create date: <Junio 2020>
-- Description:	<Procedimiento para Eliminar Vehiculo>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminarVehiculo]
	-- Parametros
		  @ID int
AS
BEGIN

	delete from vehiculos_x_cliente WHERE id_vehiculo= @ID

	DELETE FROM vehiculos
	WHERE id_vehiculo=@ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Fabricante_Update]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Fabricante_Update]
	--PROCEDIMIENTO PARA MODIFICAR FABRICANTE
	@id_fabricante int,
	@nombre_fabricante nvarchar(100),
	@pais int
AS
BEGIN
	
	UPDATE fabricante SET
	nombre_fabricante = @nombre_fabricante,
	pais = @pais
	WHERE id_fabricante = @id_fabricante

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Inserta_Fabricante]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Inserta_Fabricante]
	-- INSERTA UN NUEVO FABRICANTE DE VEHÍCULOS
	
	@nombre_fabricante  nvarchar(100),
	@pais int
AS
BEGIN

INSERT INTO fabricante VALUES 
			(@nombre_fabricante, 
			@pais)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Inserta_factura_Detalle]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description: <Inserta Factura Detalle>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Inserta_factura_Detalle]

@id_factura_encabezado int,
@id_servicio int,
@cantidad int,
@precio float


AS
BEGIN


 INSERT  INTO
 factura_detalle
 (id_factura_encabezado,id_servicio,cantidad,precio_servicio)
 VALUES 
 (@id_factura_encabezado,@id_servicio,@cantidad,@precio)

 declare @sumafactura int 
 set @sumafactura = (SELECT 
      total_sin_iv FROM factura_encabezado 
      where id_factura = @id_factura_encabezado)
       
       IF @sumafactura IS NULL 
       BEGIN
        set @sumafactura = 0
       END
      
 UPDATE factura_encabezado
 SET total_sin_iv = @sumafactura+ (@precio*@cantidad),
 total_pagar = ((@sumafactura+ (@precio*@cantidad)) * 0.13)+
      @sumafactura + @precio
      where id_factura = @id_factura_encabezado
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Inserta_factura_encabezado]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Inserta Factura Encabezado>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Inserta_factura_encabezado]

	@id_cliente int,
	@vehiculo_id int

AS
BEGIN
	INSERT  INTO
	factura_encabezado (fecha_factura,id_cliente_factura,vehiculo_id,estado_factura)
	VALUES (GETDATE(),@id_cliente,@vehiculo_id,1)
	select Max (id_factura)from factura_encabezado
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Inserta_Modelo]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description:	<Inserta Modelo>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Inserta_Modelo]
	@nombre_modelo nvarchar(25),
	@id_marca_modelo int

AS
BEGIN
Insert into modelo_vehiculo
values (@nombre_modelo,@id_marca_modelo)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Inserta_parametro]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Inserta_parametro]

@Nombre nvarchar(50),
@correo_aperture nvarchar(50),
@correo_cierre nvarchar(50),
@monto_minimo float


AS
BEGIN


 INSERT  INTO
 Parametros (nombre, correo_apertura,correo_cierre,monto_minimo)
 VALUES 
 (@Nombre,@correo_aperture,@correo_cierre,@monto_minimo)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTA_SERVICIO]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_INSERTA_SERVICIO]
	--PROCEDIMIENTO PARA INSERTAR UN NUEVO TIPO DE SERVICIO
	@NOMBRE_SERVICIO NVARCHAR (50),
	@PRECIO_SERVICIO FLOAT
AS
BEGIN
	INSERT INTO tipo_servicio VALUES
	(@NOMBRE_SERVICIO,
	@PRECIO_SERVICIO)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Inserta_TipoVehiculo]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Inserta tipo de Vehículo>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Inserta_TipoVehiculo]
	-- Add the parameters for the stored procedure here
	@nombre varchar (50)

AS
BEGIN
	INSERT INTO tipo_vehiculo 
	VALUES (@nombre)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Inserta_Vehiculo]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Inserta un nuevo vehículo>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Inserta_Vehiculo]

@placa int,
@id_marca int,
@id_fabricante_vehiculo int,
@id_tipo_vehiculo int,
@id_modelo_vehiculo int,
@cantidad_puertas smallint,
@cantidad_ruedas smallint,
@año_fabricacion date

AS
BEGIN
	INSERT INTO vehiculos (placa,
	id_fabricante_vehiculo,
	id_marca,
	id_tipo_vehiculo,
	id_modelo_vehiculo,
	cantidad_puertas,
	cantidad_ruedas,
	año_fabricacion)
	VALUES(
	@placa,
	@id_fabricante_vehiculo,
	@id_marca,
	@id_tipo_vehiculo,
	@id_modelo_vehiculo,
	@cantidad_puertas,
	@cantidad_ruedas,
	@año_fabricacion
	)


END
GO
/****** Object:  StoredProcedure [dbo].[sp_Inserta_Vehiculos_x_Cliente]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Inserta Vehículos por cliente>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Inserta_Vehiculos_x_Cliente]
	-- Add the parameters for the stored procedure here
	@id_vehiculo int,
	@id_cliente int
AS
BEGIN
	
	INSERT INTO vehiculos_x_cliente 
	VALUES (@id_vehiculo,@id_cliente)
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertaCanton]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************PROCEDIMIENTOS ALMACENADOS*****************************************/

-- =============================================
-- Author:		<Cristopher Castillo>
-- Create date: <Abril 2018>
-- Description:	<Inserta un registro en la tabla de cantones>
-- =============================================
CREATE PROCEDURE [dbo].[sp_InsertaCanton]
	-- Add the parameters for the stored procedure here
		  @id_Provincia int,          
          @nombre varchar(100),          
          @id_CantonInec int          
AS
BEGIN
	INSERT INTO [dbo].Canton
           ([id_Provincia]           
           ,[nombre]
           ,[id_CantonInec])
     VALUES
           (@id_Provincia,		    
            @nombre,
            @id_CantonInec)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertaMarca]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description:	<Inserta una nueva Marca>
-- =============================================
CREATE PROCEDURE [dbo].[sp_InsertaMarca]

@nombre_marca nchar(50),
@id_fabricante int 

AS
BEGIN
	
	INSERT INTO marca_vehiculo
	VALUES (@nombre_marca,@id_fabricante)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertaNuevoCliente]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Inserta un nuevo cliente>
-- =============================================
CREATE PROCEDURE [dbo].[sp_InsertaNuevoCliente]
	-- Add the parameters for the stored procedure here
	@nombre nvarchar(100),
	@apellido1 nvarchar (100),
	@apellido2 nvarchar (100),
	@cedula int,
	@id_provincia int,
	@id_canton int,
	@id_distrito int,
	@direccion nvarchar (100),
	@telefono int,
	@email nvarchar (100)
AS
BEGIN
	
	INSERT INTO cliente
	VALUES (@nombre,
	@apellido1,
	@apellido2,
	@cedula,
	@id_provincia,
	@id_canton,
	@id_distrito,
	@direccion,
	@telefono,
	@email)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertaPais]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Inserta un nuevo pais en la tabla "pais">
-- =============================================
CREATE PROCEDURE [dbo].[sp_InsertaPais] 
	@nombrepais varchar (80)
AS
BEGIN
	INSERT INTO Pais 
	values (@nombrepais)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Modifica_Fabricante]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--MODIFICA FABRICANTE--
CREATE PROCEDURE [dbo].[sp_Modifica_Fabricante]

	@id_fabricante int,
	@nombre_fabricante  nvarchar(100),
	@pais int
AS
BEGIN

UPDATE fabricante
SET	nombre_fabricante = @nombre_fabricante,
pais = @pais
WHERE id_fabricante = @id_fabricante

END
GO
/****** Object:  StoredProcedure [dbo].[SP_MODIFICA_SERVICIO]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MODIFICA_SERVICIO]
	--PROCEDIMIENTO PARA INSERTAR UN NUEVO TIPO DE SERVICIO
	@ID_SERVICIO INT,
	@NOMBRE_SERVICIO NVARCHAR (50),
	@PRECIO_SERVICIO FLOAT
AS
BEGIN
	UPDATE tipo_servicio SET
	nombre_servicio=@NOMBRE_SERVICIO,
	precio_servicio=@PRECIO_SERVICIO
	WHERE id_servicio = @ID_SERVICIO

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Modifica_TipoVehiculo]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Inserta tipo de Vehículo>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Modifica_TipoVehiculo]
	-- Add the parameters for the stored procedure here
	@nombre varchar (50),
	@id_tipo_vehiculo int

AS
BEGIN
	UPDATE tipo_vehiculo
	SET nombre_vehiculo = @nombre
	WHERE id_tipo_vehiculo = @id_tipo_vehiculo
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Modifica_Vehiculo]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Inserta un nuevo vehículo>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Modifica_Vehiculo]
@id_vehiculo int,
@placa int,
@id_fabricante_vehiculo int,
@id_marca int,
@id_tipo_vehiculo int,
@id_modelo_vehiculo int,
@cantidad_puertas smallint,
@cantidad_ruedas smallint,
@año_fabricacion date



AS
BEGIN
	UPDATE  vehiculos SET
	placa=@placa,
	id_fabricante_vehiculo=@id_fabricante_vehiculo,
	id_marca=@id_marca,
	id_tipo_vehiculo=@id_tipo_vehiculo,
	id_modelo_vehiculo=@id_modelo_vehiculo,
	cantidad_puertas=@cantidad_puertas,
	cantidad_ruedas=@cantidad_ruedas,
	año_fabricacion=@año_fabricacion

	WHERE id_vehiculo= @id_vehiculo

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Modifica_Vehiculos_x_Cliente]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description:	<Inserta Vehículos por cliente>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Modifica_Vehiculos_x_Cliente]
	-- Add the parameters for the stored procedure here
	@id_vehiculo int,
	@id_cliente int,
	@id_vehiculo_cliente int
AS
BEGIN
	
UPDATE vehiculos_x_cliente
SET	
id_vehiculo = @id_vehiculo,
id_cliente = @id_cliente
WHERE id_vehiculo_cliente = @id_vehiculo_cliente
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificaCanton]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Cristopher Castillo>
-- Create date: <Abril 2018>
-- Description:	<Modifica un registro en la tabla de cantones>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ModificaCanton]
	-- Add the parameters for the stored procedure here
		  @id_Canton int,
		  @id_Provincia int,          
          @nombre varchar(100),          
          @id_CantonInec int 
AS
BEGIN
	UPDATE Canton
	SET [id_Provincia]=@id_Provincia,
	[nombre]=@nombre,
	[id_CantonInec]=@id_CantonInec
	WHERE [id_Canton]=@id_Canton
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ModificaCliente]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Modifica un cliente>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ModificaCliente]
	-- Add the parameters for the stored procedure here
	@id_cliente int,
	@nombre nvarchar(100),
	@apellido1 nvarchar (100),
	@apellido2 nvarchar (100),
	@cedula int,
	@id_provincia int,
	@id_canton int,
	@id_distrito int,
	@direccion nvarchar (100),
	@telefono int,
	@email nvarchar (100)
AS
BEGIN
	
	UPDATE  cliente
	SET nombre_cliente = @nombre,
	apellido1 = @apellido1,
	apellido2 = @apellido2,
	cedula = @cedula,
	id_provincia = @id_provincia,
	id_canton = @id_canton,
	id_distrito = @id_distrito,
	direccion = @direccion,
	telefono = @telefono,
	email = @email
	WHERE id_cliente = @id_cliente

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificaMarca]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Moficia Marca>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ModificaMarca]
@id_marca int,
@nombre_marca nchar,
@id_fabricante int
AS
BEGIN
	UPDATE marca_vehiculo
	SET nombre_marca =@nombre_marca,
	id_fabricante = @id_fabricante
	WHERE id_marca = @id_marca
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificaModelo]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Modifica modelos>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ModificaModelo]
@id_modelo int,
@nombre_modelo nvarchar (50),
@id_marca_modelo int
AS
BEGIN
	update modelo_vehiculo
set nombre_modelo = @nombre_modelo,
id_marca_modelo = @id_marca_modelo
where id_modelo = @id_modelo
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificaPais]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Modifica la lista de paises>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ModificaPais]
@id_pais INT,
@nombre varchar (80) = null

AS
BEGIN

	UPDATE Pais
	SET nombre_pais = @nombre WHERE
	id_pais = @id_pais

END
GO
/****** Object:  StoredProcedure [dbo].[sp_MostrarCliente]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Author:		<Armando Ramirez>
-- Create date: <Junio 2020>
-- Description:	<Procedimiento para mostrar cliente>
-- =============================================
create PROCEDURE [dbo].[sp_MostrarCliente]

AS
BEGIN

SELECT        dbo.cliente.id_cliente, dbo.cliente.nombre_cliente, dbo.cliente.apellido1, dbo.cliente.apellido2, dbo.cliente.cedula, dbo.Provincia.nombre AS Provincia, dbo.Canton.nombre AS Canton, dbo.Distrito.nombre AS Distrito, 
                         dbo.cliente.direccion, dbo.cliente.telefono, dbo.cliente.email
FROM            dbo.cliente INNER JOIN
                         dbo.Canton ON dbo.cliente.id_canton = dbo.Canton.id_Canton INNER JOIN
                         dbo.Distrito ON dbo.cliente.id_distrito = dbo.Distrito.id_Distrito AND dbo.Canton.id_Canton = dbo.Distrito.id_Canton INNER JOIN
                         dbo.Provincia ON dbo.cliente.id_provincia = dbo.Provincia.id_Provincia AND dbo.Canton.id_Provincia = dbo.Provincia.id_Provincia
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Retorna_cierre_Caja]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Cierra una caja>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Retorna_cierre_Caja]
AS
BEGIN
	
	select MAX(hora_cierre)
	from caja_chica
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Retorna_Fecha_Apertura]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Retorna_Fecha_Apertura]

AS
BEGIN
 
 select CAST(MAX(hora_apertura) AS DATE)
 from caja_chica
END
GO
/****** Object:  StoredProcedure [dbo].[sp_retorna_parametro]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_retorna_parametro]

AS
BEGIN
 select id_parametro,nombre,correo_apertura,correo_cierre,monto_minimo from Parametros
END
GO
/****** Object:  StoredProcedure [dbo].[sp_retorna_tiposervicio]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<retorna tipo de servicio>
-- =============================================
CREATE PROCEDURE [dbo].[sp_retorna_tiposervicio] 
	
	@id_servicio int
AS
BEGIN
	SELECT 
	id_servicio,
	nombre_servicio,
	precio_servicio
	FROM tipo_servicio
	WHERE id_servicio = @id_servicio
END
GO
/****** Object:  StoredProcedure [dbo].[sp_retorna_TODOS_tiposervicios]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: <retorna tipo de servicio>
-- =============================================
CREATE PROCEDURE [dbo].[sp_retorna_TODOS_tiposervicios] 

AS
BEGIN
 SELECT 
 id_servicio,
 nombre_servicio,
 precio_servicio
 FROM tipo_servicio
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Retorna_Vehiculos_sin_Cliente]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Retorna vehiculos sin cliente>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Retorna_Vehiculos_sin_Cliente]

AS
BEGIN

SELECT
	v.id_vehiculo,
	v.placa,
	v.id_marca,
	TRIM(mv.nombre_marca)as nombre_marca,
	v.id_tipo_vehiculo,
	tpv.nombre_vehiculo,
	v.id_modelo_vehiculo,
	TRIM(modelv.nombre_modelo)as nombre_modelo,
	v.cantidad_puertas,
	v.cantidad_ruedas,
	v.año_fabricacion,
	v.id_fabricante_vehiculo,
	fab.nombre_fabricante
	FROM vehiculos as v
	INNER JOIN marca_vehiculo as mv on mv.id_marca = v.id_marca
	INNER JOIN modelo_vehiculo as modelv on modelv.id_modelo = v.id_modelo_vehiculo
	INNER JOIN fabricante as fab on fab.id_fabricante = v.id_fabricante_vehiculo
	INNER JOIN tipo_vehiculo as tpv on tpv.id_tipo_vehiculo = v.id_tipo_vehiculo
	WHERE id_vehiculo not in (SELECT id_vehiculo
	FROM vehiculos_x_cliente);

END
GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaCantonesID]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Cristopher Castillo>
-- Create date: <Abril 2018>
-- Description:	<Retorna los registros de la tabla de Cantones tomando en cuenta la columna id_Canton>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RetornaCantonesID]
@id_Canton int
AS
	
SELECT  tCant.id_Canton,tCant.id_Provincia, tCant.nombre,tProv.nombre 'Provincia', tCant.usuarioCrea, tCant.fechaCrea, tCant.usuarioModifica, tCant.fechaModifica, tCant.vc_Estado,tCant.id_CantonInec
FROM Canton tCant inner join Provincia tProv on tCant.id_Provincia=tProv.id_Provincia
WHERE [id_Canton] = @id_Canton
GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaCliente]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Retorna cliente>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RetornaCliente]
	-- Add the parameters for the stored procedure here
	@nombre nvarchar(100),
	@apellido1 nvarchar (100),
	@apellido2 nvarchar (100),
	@cedula int,
	@id_provincia int,
	@id_canton int,
	@id_distrito int,
	@direccion nvarchar (100),
	@telefono int,
	@email nvarchar (100)

AS
BEGIN
		SELECT 
		tblcliente.id_cliente,
		tblcliente.nombre_cliente, 
		tblcliente.apellido1, 
		tblcliente.apellido2, 
		tblcliente.cedula,
		tblcliente.id_provincia,
		tblprov.nombre 'Provincia',
		tblcliente.id_canton,
		tblcanton.nombre'Cantón',
		tblcliente.id_distrito,
		tbldistrito.nombre'Distrito',
		tblcliente.direccion,
		tblcliente.telefono,
		tblcliente.email
		FROM cliente tblcliente
		INNER JOIN Provincia tblprov ON tblprov.id_Provincia = tblcliente.id_provincia
		INNER JOIN Canton tblcanton on tblcanton.id_Canton = tblcliente.id_canton
		INNER JOIN Distrito tbldistrito on tbldistrito.id_Distrito = tblcliente.id_distrito
		WHERE tblcliente.id_cliente like
		(CASE WHEN @nombre IS NULL THEN '%%' ELSE '%'+@nombre+'%' END)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaCliente_ID]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Retorna Id cliente>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RetornaCliente_ID]
@Id_cliente int
AS
BEGIN
	SELECT 
	tblcliente.id_cliente,
	tblcliente.nombre_cliente, 
		tblcliente.apellido1, 
		tblcliente.apellido2, 
		tblcliente.cedula,
		tblcliente.id_provincia,
		tblprov.nombre 'Provincia',
		tblcliente.id_canton,
		tblcanton.nombre'Cantón',
		tblcliente.id_distrito,
		tbldistrito.nombre'Distrito',
		tblcliente.direccion,
		tblcliente.telefono,
		tblcliente.email
		FROM cliente tblcliente
		INNER JOIN Provincia tblprov ON tblprov.id_Provincia = tblcliente.id_provincia
		INNER JOIN Canton tblcanton on tblcanton.id_Canton = tblcliente.id_canton
		INNER JOIN Distrito tbldistrito on tbldistrito.id_Distrito = tblcliente.id_distrito
		WHERE tblcliente.id_cliente = @Id_cliente
		
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaDistritos]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create date: <Abril 2018>
-- Description:	<Retorna los registros de la tabla de Distritos tomando en cuenta la columna nombre y id_Canton>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RetornaDistritos]
@nombre [varchar](50)= NULL,
@id_Canton int= NULL
AS
	
SELECT   tDist.id_Distrito,tCant.id_Canton, tDist.nombre,tCant.nombre 'Canton', tDist.usuarioCrea, tDist.fechaCrea, tDist.usuarioModifica, tCant.fechaModifica, tCant.vc_Estado,tDist.id_DistritoInec
FROM Distrito tDist inner join Canton tCant on tDist.id_Canton=tCant.id_Canton
WHERE tDist.[id_Canton] = (case when @id_Canton is null then tCant.[id_Canton] else @id_Canton end)
and tDist.[nombre] like (case when @nombre is null then '%%' else '%'+@nombre+'%' end)
GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaDistritos_ID]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RetornaDistritos_ID]

@id_Distrito int= NULL
AS
	
SELECT   tDist.id_Distrito,tCant.id_Canton, tDist.nombre,tCant.nombre 'Canton', tDist.usuarioCrea, tDist.fechaCrea, tDist.usuarioModifica, tCant.fechaModifica, tCant.vc_Estado,tDist.id_DistritoInec
FROM Distrito tDist inner join Canton tCant on tDist.id_Canton=tCant.id_Canton
WHERE tDist.[id_Distrito] = (case when @id_Distrito is null then tDist.[id_Distrito] else @id_Distrito end)


GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaFabricante_ID]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RetornaFabricante_ID]
	
	@id_fabricante int
AS
BEGIN
	SELECT id_fabricante, nombre_fabricante,nombre_pais,id_pais
	FROM fabricante
	INNER JOIN Pais ON id_pais = pais
	WHERE id_fabricante = @id_fabricante
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaFabricantes]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<RETORNA CASAS FABRICANTES>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RetornaFabricantes]
@id_fabricante int,
@nombrefabr varchar (100),
@pais int


AS
BEGIN

	SELECT TRIM (TBLFABRIC.nombre_fabricante) as nombre_fabricante,TBLFABRIC.id_fabricante,
TRIM (TBLPAIS.nombre_pais) as nombre_pais
FROM fabricante TBLFABRIC
INNER JOIN Pais TBLPAIS ON TBLPAIS.id_pais = TBLFABRIC.pais

WHERE TBLFABRIC.id_fabricante =
	(CASE WHEN @id_fabricante IS NULL THEN TBLFABRIC.id_fabricante ELSE @id_fabricante END)
	AND TBLFABRIC.nombre_fabricante LIKE
	(CASE WHEN @nombrefabr IS NULL THEN '%%'ELSE '%'+@nombrefabr+'%' END)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaFacturaEncabezadoID]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<retorna factura encabezado>
-- =============================================
create PROCEDURE [dbo].[sp_RetornaFacturaEncabezadoID]

@id_factura int


AS
BEGIN
	
	SELECT 
	FE.id_factura,
	FE.fecha_factura,
	FE.id_cliente_factura,
	FE.vehiculo_id,
	FE.total_pagar,
	FE.total_sin_iv,
	FE.estado_factura,
	FD.id_detalle_factura,
	FD.id_factura_encabezado,
	CL.id_cliente,
	CL.cedula,
	CL.nombre_cliente,
	CL.apellido1,
	VC.id_vehiculo_cliente,
	VC.id_vehiculo
	FROM 
	factura_encabezado AS FE
	INNER JOIN factura_detalle AS FD ON id_factura_encabezado= FD.id_factura_encabezado
	INNER JOIN cliente AS CL ON FE.id_cliente_factura = CL.id_cliente
	INNER JOIN vehiculos_x_cliente AS VC ON FE.vehiculo_id = VC.id_vehiculo_cliente

	WHERE id_factura_encabezado = @id_factura

END
GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaFacturas]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_RetornaFacturas]
 -- Add the parameters for the stored procedure here

AS
BEGIN
  SELECT 
  tblcliente.id_cliente,
  tblcliente.nombre_cliente, 
  tblcliente.apellido1, 
  tblcliente.cedula,
  tblVehiculo.placa,
  tblfactura.total_sin_iv,
  tblfactura.total_pagar,
  tblfactura.fecha_factura,
  tblfactura. estado_factura,
  tblfactura.id_factura
  FROM factura_encabezado tblfactura
  INNER JOIN cliente tblcliente ON tblcliente.id_cliente = tblfactura.id_cliente_factura
  INNER JOIN vehiculos tblVehiculo on tblVehiculo.id_vehiculo = tblfactura.vehiculo_id
  

END
GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaListaMarca]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create date: <Create Date,,>
-- Description:	<Retorna Marca y fabricante>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RetornaListaMarca]

@id_marca int = null,
@nombre_marca nvarchar (55),
@id_fabricante int = null

AS
BEGIN
	SELECT RTRIM(nombre_marca)AS nombre_marca , nombre_fabricante,b.id_fabricante, a.id_marca
	FROM marca_vehiculo	as a
	INNER JOIN fabricante as b ON b.id_fabricante = a.id_fabricante
	where id_marca =
	(case when @id_marca is null then id_marca else @id_marca end)
	and nombre_marca like
	(case when @nombre_marca is null then '%%' else '%'+@nombre_marca+'%' end)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaMarca_ID]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RetornaMarca_ID]
	@id_marca int
AS
BEGIN
	SELECT a.id_marca,TRIM(a.nombre_marca)as nombre_marca, B.nombre_fabricante,b.id_fabricante
	FROM marca_vehiculo A
	INNER JOIN fabricante B ON B.id_fabricante = A.id_fabricante
	WHERE id_marca = @id_marca
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaModelo]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Retorna Modelo>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RetornaModelo]
	@nombre_modelo nvarchar(100),
	@id_fabricante int,
	@id_marca int
AS
BEGIN
SELECT 
TRIM(TBLMARCA.nombre_marca) as nombre_marca,
TRIM(TBLMODELO.nombre_modelo)as nombre_modelo,
TBLFABRICANTE.nombre_fabricante,
TBLFABRICANTE.id_fabricante,
TBLMODELO.id_modelo,
TBLMODELO.id_marca_modelo
FROM modelo_vehiculo TBLMODELO
INNER JOIN marca_vehiculo TBLMARCA ON TBLMARCA.id_marca = TBLMODELO.id_marca_modelo
INNER JOIN fabricante TBLFABRICANTE ON TBLFABRICANTE.id_fabricante = TBLMARCA.id_fabricante

WHERE TBLMARCA.id_marca =
			(CASE WHEN @id_marca IS NULL THEN TBLMARCA.id_marca ELSE @id_marca END) 
			AND TBLMARCA.nombre_marca LIKE
			(CASE WHEN @nombre_modelo IS NULL THEN '%%'ELSE '%'+@nombre_modelo+'%'END)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaModelo_ID]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Inserta nuevo Modelo>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RetornaModelo_ID]
@id_modelo int
AS
BEGIN
	SELECT
	MV.id_modelo,
	MV.id_marca_modelo,
	MV.nombre_modelo,
	M.id_marca,
	M.nombre_marca,
	FB.id_fabricante,
	FB.nombre_fabricante
	FROM modelo_vehiculo AS MV
	INNER JOIN marca_vehiculo M ON MV.id_marca_modelo = M.id_marca
	INNER JOIN fabricante AS FB ON M.id_fabricante = FB.id_fabricante
	WHERE MV.id_modelo = @id_modelo
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaPais]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Devuelve la lista de paises>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RetornaPais]

@nombre varchar (80) = null

AS
BEGIN

	SELECT id_pais, TRIM (nombre_pais) AS nombre_pais FROM PAIS
	 WHERE nombre_pais LIKE 
		(CASE WHEN @nombre IS NULL THEN '%%'
		ELSE '%'+@nombre+'%'
		END)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaPais_ID]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Retorna_ID_Pais>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RetornaPais_ID]
	
	@id_pais int
AS
BEGIN
	SELECT nombre_pais, id_pais
	FROM Pais
	WHERE id_pais = @id_pais
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaProvincias]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Cristopher Castillo>
-- Create date: <Abril 2018>
-- Description:	<Retorna los registros de la tabla de provincias tomando en cuenta la columna nombre>
-- =============================================

CREATE PROCEDURE [dbo].[sp_RetornaProvincias]
@nombre [varchar](50)= NULL
AS
	
SELECT  id_Provincia, nombre, usuarioCrea, fechaCrea, usuarioModifica, fechaModifica, vc_Estado
FROM Provincia
WHERE [nombre] like (case when @nombre is null then '%%' else '%'+@nombre+'%' end)

GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaTipoVehiculo]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create date: <Create Date,,>
-- Description:	<Retorna el tipo de vehículo>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RetornaTipoVehiculo]
	-- Add the parameters for the stored procedure here
	@id_tipo_vehiculo int = null,
	@nombre_vehiculo nvarchar(55) = null
AS
BEGIN
	
   
	SELECT id_tipo_vehiculo, nombre_vehiculo
	FROM tipo_vehiculo
	where id_tipo_vehiculo =
	(case when @id_tipo_vehiculo is null then id_tipo_vehiculo else @id_tipo_vehiculo end)
	and nombre_vehiculo like
	(case when @nombre_vehiculo is null then '%%' else '%'+@nombre_vehiculo+'%' end)


END
GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaVehiculo]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description:	<Retorna ID de Vehículo>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RetornaVehiculo]

@id_vehiculo int

AS
BEGIN
	
	SELECT 
	v.id_vehiculo,
	v.placa,
	v.id_marca,
	TRIM(mv.nombre_marca)as nombre_marca,
	v.id_tipo_vehiculo,
	tpv.nombre_vehiculo,
	v.id_modelo_vehiculo,
	TRIM(modelv.nombre_modelo)as nombre_modelo,
	v.cantidad_puertas,
	v.cantidad_ruedas,
	v.año_fabricacion,
	v.id_fabricante_vehiculo,
	fab.nombre_fabricante
	
	FROM vehiculos as v
	INNER JOIN marca_vehiculo as mv on mv.id_marca = v.id_marca
	INNER JOIN modelo_vehiculo as modelv on modelv.id_modelo = v.id_modelo_vehiculo
	INNER JOIN fabricante as fab on fab.id_fabricante = v.id_fabricante_vehiculo
	INNER JOIN tipo_vehiculo as tpv on tpv.id_tipo_vehiculo = v.id_tipo_vehiculo

	WHERE id_vehiculo = 
	(CASE WHEN id_vehiculo IS NULL THEN @id_vehiculo ELSE id_vehiculo END)


END
GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaVehiculo_ID]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Retorna ID de Vehículo>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RetornaVehiculo_ID]

@id_vehiculo int

AS
BEGIN
	
	SELECT 
	v.id_vehiculo,
	v.placa,
	v.id_marca,
	mv.nombre_marca,
	v.id_tipo_vehiculo,
	tpv.nombre_vehiculo,
	v.id_modelo_vehiculo,
	modelv.nombre_modelo,
	v.cantidad_puertas,
	v.cantidad_ruedas,
	v.año_fabricacion,
	v.id_fabricante_vehiculo,
	fab.nombre_fabricante
	
	FROM vehiculos as v
	INNER JOIN marca_vehiculo as mv on mv.id_marca = v.id_marca
	INNER JOIN modelo_vehiculo as modelv on modelv.id_modelo = v.id_modelo_vehiculo
	INNER JOIN fabricante as fab on fab.id_fabricante = v.id_fabricante_vehiculo
	INNER JOIN tipo_vehiculo as tpv on tpv.id_tipo_vehiculo = v.id_tipo_vehiculo

	WHERE id_vehiculo = @id_vehiculo
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaVehiculosxCliente]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Retorna Vehículos por cliente>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RetornaVehiculosxCliente]
	@id_vehiculo_cliente int,
	@id_cliente int,
	@id_vehiculo int
AS
BEGIN
	SELECT 
	id_vehiculo_cliente,
	tblcliente.nombre_cliente,
	tblcliente.apellido1,
	tblcliente.apellido2,
	tblvehiculos.id_marca,
	TRIM(tblmarca.nombre_marca) as nombre_marca,
	tblvehiculos.id_modelo_vehiculo,
	TRIM(tblmodelo.nombre_modelo)as nombre_modelo,
	tblvehiculos.placa

	FROM vehiculos_x_cliente as tblvehiculoscliente
	INNER JOIN vehiculos AS tblvehiculos ON tblvehiculos.id_vehiculo = tblvehiculoscliente.id_vehiculo
	INNER JOIN cliente AS tblcliente on tblcliente.id_cliente = tblvehiculoscliente.id_cliente
	INNER JOIN marca_vehiculo AS tblmarca ON tblmarca.id_marca = tblvehiculos.id_marca
	INNER JOIN modelo_vehiculo AS tblmodelo ON tblmodelo.id_modelo = tblvehiculos.id_modelo_vehiculo
	WHERE id_vehiculo_cliente LIKE

	(CASE WHEN @id_vehiculo_cliente IS NULL THEN tblvehiculoscliente.id_vehiculo_cliente ELSE @id_vehiculo_cliente END)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaVehiculosxClientebyIdCliente]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description: <Retorna Vehículos por cliente>
-- =============================================
Create PROCEDURE [dbo].[sp_RetornaVehiculosxClientebyIdCliente]
 @id_cliente int
AS
BEGIN
 SELECT 
 tblvehiculos.id_vehiculo,
 tblvehiculos.placa

 FROM vehiculos_x_cliente as tblvehiculoscliente
 INNER JOIN vehiculos AS tblvehiculos ON tblvehiculos.id_vehiculo = tblvehiculoscliente.id_vehiculo
 INNER JOIN cliente AS tblcliente on tblcliente.id_cliente = tblvehiculoscliente.id_cliente
 WHERE tblcliente.id_cliente  = 3

 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaVehiculoxCliente_ID]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Retorna Vehiculo ID por cliente>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RetornaVehiculoxCliente_ID]

	@id_vehiculo_cliente int
AS
BEGIN
	SELECT 
	tblvehiculoscliente.id_vehiculo_cliente,
	tblvehiculoscliente.id_vehiculo,
	tblcliente.nombre_cliente,
	tblcliente.apellido1,
	tblcliente.apellido2,
	tblvehiculos.id_marca,
	tblmarca.nombre_marca,
	tblvehiculos.id_modelo_vehiculo,
	tblmodelo.nombre_modelo,
	tblvehiculos.placa

	FROM vehiculos_x_cliente as tblvehiculoscliente
	INNER JOIN vehiculos AS tblvehiculos ON tblvehiculos.id_vehiculo = tblvehiculoscliente.id_vehiculo
	INNER JOIN cliente AS tblcliente on tblcliente.id_cliente = tblvehiculoscliente.id_cliente
	INNER JOIN marca_vehiculo AS tblmarca ON tblmarca.id_marca = tblvehiculos.id_marca
	INNER JOIN modelo_vehiculo AS tblmodelo ON tblmodelo.id_modelo = tblvehiculos.id_modelo_vehiculo
	WHERE id_vehiculo_cliente LIKE

	(CASE WHEN @id_vehiculo_cliente IS NULL THEN tblvehiculoscliente.id_vehiculo_cliente ELSE @id_vehiculo_cliente END)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UltimaCaja]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: < ultima caja >
-- =============================================
create PROCEDURE [dbo].[sp_UltimaCaja]
AS
BEGIN
 
 select top(1)id_caja as Id, hora_apertura, hora_cierre, id_usuario_cierre, id_usuario_apertura, monto_apertura, monto_cierre_total
 from caja_chica
 order by id_caja desc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_parametro]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description: <Inserta parametros>
-- =============================================
Create PROCEDURE [dbo].[sp_update_parametro]

@Nombre nchar(50),
@correo_aperture nchar(50),
@correo_cierre nchar(50),
@monto_minimo float


AS
BEGIN
 UPDATE Parametros SET
 nombre=@Nombre,
 correo_apertura=@correo_aperture,
 correo_cierre = @correo_cierre,
 monto_minimo = @monto_minimo
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Veficia_Placa_Existente]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Verifica placa>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Veficia_Placa_Existente]
	@placa int
AS
BEGIN
	SELECT COUNT(1)
	FROM 
	vehiculos
	WHERE placa = @placa
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Verifica_Cliente_Existente]    Script Date: 27/8/2020 07:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Verifica Cedula>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Verifica_Cliente_Existente]
@cedula int
AS
BEGIN
	SELECT COUNT(1)
	FROM cliente
	WHERE cedula = @cedula
END
GO
USE [master]
GO
