@model LavaCarProject.Models.sp_RetornaModelo_ID_Result
@{
    ViewBag.Title = "EliminaModelo";
}

<h2>Eliminar Modelo</h2>

<form class="form" method="post">
    <div class="form-group">
        <label>Nombre Modelo:</label>
        <input class="form-control" type="text" name="nmarca" id="nmarca" value="@Model.nombre_modelo" disabled />
        <input type="text" name="id_modelo" id="id_modelo" value="@Model.id_modelo"/>
    </div>
    <div class="form-group">
        <label>Fabricante :</label>
        <input class="form-control" type="text"name="fabricante" id="fabricante"value="@Model.nombre_fabricante"disabled />
    </div>

    <div class="form-group" role="button">
        <input class="btn btn-danger" type="submit" value="Eliminar" id="btninsertar" />
    </div>
</form>
<a href="~/Modelos/Modelos" class="btn btn-info" role="button"> Regresar </a>