@section Style{
    <link rel="stylesheet" href="  https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.blueopal.min.css" rel="stylesheet" />
}

<h2>Lista de Modelos</h2>

<div id="divModelos">

</div>

<input type="button" id="btMostrarDialog" value="Insertar Nuevo Modelo" />
<div id="divInsertar" hidden>

    <h2>Ingresa Modelo</h2>

    <form class="form" id="fmrnuevocliente" method="POST">

        <div class="form-group">
            <label>Nombre del modelo:</label>
            <input type="text" name="nombre" id="nombre" class="form-control">
        </div>
        <div>
            <input name="txtMarca" id="txtmarca" title="Ingrese la marca" placeholder="Nombre de la marca">
            <input id="id_marca_select"  />
            <input id="id_fabricante_select"  />
        </div>
        <div class="form-group">
            <input type="button" value="Insertar" id="btninsertar" />
        </div>
    </form>
</div>

@section scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jszip.min.js"></script>
    <script src="~/Scripts/ScriptGenerico.js"></script>
    <script src="~/Scripts/Kendo_JQ_UI/Modelos.js"></script>
}
